body {
    background: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerHUD {
    margin-top: 10px;
}

#canvas1 {
    border: 5px solid white;
}

#canvas2 {
    /* border: 5px solid white; */
}

#pScore {
    position:relative;
    text-align:center;  
    font-family: silkscreen;
    font-size: 40px;
}

#pVictory2 {
    color:black;
    position: absolute;
    width:120%;
    top: -20%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    font-family: silkscreen;
    font-size: 40px;
    z-index:1;
}

#pVictory {
    position: absolute;
    width:120%;
    top:50%;
    left:50%;
    transform:translate(-50%,-52%);
    text-align:center;
    font-family: silkscreen;
    font-size: 40px;
    z-index:2;
}


