<div class="card mt-3">
    <div class="card-header text-white bg-primary">
        Liste des Todos
    </div>
    <div class="card-body"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Description</th>
                    <th>Important</th>
                    <th>Fini</th>
                    <th>Liste</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i></a>
    </div>
</div>
