<p [style.color]="couleur">{{prenom}}</p>
<input type="text" [value]="prenom" (change)="changePrenom($event)"/>

<button (click)="resetPrenom()">CHANGER</button><br/><br/>

<input type="text" [(ngModel)]="prenom"/><br/><br/>

<input type="text" [ngModel]="prenom" (ngModelChange)="modelChange($event)"/><br/><br/>

<select [(ngModel)]="couleur">
  <option value="#000000">Noir</option>
  <option value="#008000">Vert</option>
  <option value="#FFFF00">Jaune</option>
  <option value="#0000FF">Bleu</option>
  <option value="#FF0000">Rouge</option>
</select><br />
<input type="color" [(ngModel)]="couleur">

<hr/>

<fieldset bg-black>
  Id : <input type="number" [(ngModel)]="todo.id"/><br/>
  Titre : <input type="text" [(ngModel)]="todo.title"/><br/>
  Complété : <input type="checkbox" [(ngModel)]="todo.completed"/><br/>
</fieldset>

<p *ngIf="todo.title && todo.id != 0" [ngClass]="{'notCompleted':!todo.completed}">{{todo.title}}</p> 


<hr/>
Recherche : <input type="text" [(ngModel)]="recherche"/>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Complet ?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of search()">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td [style.color]="item.completed | todoState">{{item.completed | todoState:"description"}}</td>
      <!-- <td><span *ngIf="item.completed;else sinon">Terminé</span></td> -->
      <td></td>
    </tr>
  </tbody>
  <ng-template #sinon>
    <span>Non terminé</span>
  </ng-template>
  <tfoot>
    <tr>
      <td><input type="number" [(ngModel)]="todoForm.id"/></td>
      <td><input type="text" [(ngModel)]="todoForm.title"/></td>
      <td><input type="checkbox" [(ngModel)]="todoForm.completed"/></td>
      <td><button (click)="addTodo()">Valider</button></td>
    </tr>
  </tfoot>
</table>

<hr/>

<hello-world>
  <div contenu1>Bonjour Corentin !</div>
  <div contenu2>Bonjour Emilie !</div>
</hello-world>

<hr/>

<hi>Bien le bonjour Thi Tham</hi>

<hr/>

<div hello>Hello Vincent</div>

<asc-bold (click)="alerteTexte('J\'ai cliqué sur asc-bold')" param1="mon texte à envoyer dans param1" [param2]="prenom">
  <span standard>voici le texte :</span>
  <span gras>que vous voulez mettre en gras</span>
</asc-bold>

<hr/>


<asc-text-field label="Prénom : " [value]="prenom" (emetteur)="majPrenom($event)"></asc-text-field>

<asc-list>
  <ng-template #contenuAInjecter>
    <h1>Contenu à injecter</h1>

    <h3>Chapitre 3</h3>
  </ng-template>
  <ng-template #contenuAInjecterBis>
    <h1>Contenu à injecter Deuxième</h1>
  </ng-template>
</asc-list>

<p asc-tooltip titre="Et voilà le tooltip">Voilà le message</p>

<asc-tooltip titre="Et voilà le tooltip">Voilà le message</asc-tooltip>

